.shopping-cart-summary-container {
    width: 320px;
    height: 400px;
    border: none;
    border-radius: 5px;
    background: #F6F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-header {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    background: var(--first-color);
}

.summary-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 10px;
}

.summary-body .summary-body_ammounts {
    width: 90%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.summary-body_ammounts .ammounts_bs {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.summary-body_ammounts .ammounts_usd {
    text-align: right;
    font-size: 22px;
    color: gray;
}

.shopping-cart-summary-container .summary-footer {
    font-size: 14px;
    text-align: justify;
    padding: 10px;
}

@media (max-width: 820px) {
    .shopping-cart-summary-container {
        width: 280px;
        height: 425px;
    }
}

@media (max-width: 700px) {
    .shopping-cart-summary-container {
        width: 100%;
    }

    .shopping-card-summary {
        display: flex;
        justify-content: center;
    }
}