.boxContainer {
    background: #FFFF;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 35px;
}

.elementsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border: none;
    height: 100%;
    width: calc(100% - 30px);
    padding: 0 5px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 500;
}

.search:focus {
    outline: none;
}

.elementsContainer .icon-container {
    height: 100%;
    display: grid;
    place-items: center;

    position: absolute;
    right: 0;
}

.material-icons {
    font-size: 30px;
    color: #5ccda7;
    cursor: pointer;
}

@media (max-width: 570px) {

    .search {
        font-size: 16px;
    }
    
}