.shoppint-card-container {
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-card {
    width: 40px;
}

.counter-card-container {

    position: absolute;
    top: -13px;
    right: -9px;

    display: grid;
    place-items: center;

    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;

}

.card-counter {
    color: #FFF;
}