.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    min-height: calc(100vh - 125px - 104px);
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button button{
    width: 110px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.container-button button .btn-text{
    margin-left: 7px;
}

footer-component {
    width: 100vw;
}