@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@200;300;400&display=swap');

/* MANERA DE ORGANIZAR EL CODIGO EN CSS
1. posicionamiento 
2. modelo de caja 
3.tipografia
4.visuales
5.otros 
*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.footer-container{
    width: 100%;
    background-color:  #58c5ad;
    /* height: 200px; */
    margin-top: 20px;
    padding: 0 5px 0 5px;
    
}
.footer-container .group-one {
    width: 100%;
   
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    padding: 35px 0px;
}
.footer-container .group-one .box .figure {
    width: 250x;
    /* height: 110%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container .group-one figure img {
    width: 220px;
    height:110px;
    /* border-radius: 8px; */
}



.footer-container .group-one figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container .group-one .box h2 {
    color: #0d3320;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Poppins",sans-serif;

}
.footer-container .group-one .box p {
    color: #0d3320;
    margin-bottom: 10px;
    font-weight: 300;
}
/* red social  */

.footer-container .group-one .red-social{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.footer-container .group-one .red-social .red-social-title {
    font-size: 1.3rem;
    font-family: "Poppins",sans-serif;
}

.footer-container .group-one .red-social a {
   
    text-decoration: none;
    width: 55px;
    height: 50px;
    line-height: 45px;
    border-radius: 12px;
    color: #fff;
    background-color: #0d3320;
    text-align: center;
    transition: all 300ms ease;
    margin-top: 40px;
    margin-left: 6px;
}
.footer-container .group-one .red-social a:hover {
    color:#58c5ad;
} 
.footer-container .group-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d3320;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer-container .group-two  small{
    font-size: 15px;
    letter-spacing: 0.1rem;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
@media screen and (max-width:800px){

    .footer-container .group-one{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    } 
}