@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@200;300;400&display=swap');


/* MANERA DE ORGANIZAR EL CODIGO EN CSS
1. posicionamiento 
2. modelo de caja 
3.tipografia
4.visuales
5.otros 
*/

/* container */
.footer-container{
    width: 100%;
    /* height: 320px; */
    margin-top: 20px;
    padding: 0 5px 0 5px;
    background-color:  #58c5ad;
}

/* cpntainer grupo uno */
.footer-container .group-one {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:7px;
    padding: 20px 5px 5px 5px;
}

/* imagen cecosesola */
#box-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}

.footer-container .group-one .box .figure {
    width: 200px;
    height: 100%;
   
   
}
.footer-container .group-one figure img {
   
    width: 95%;
    height:auto;
   
}

.footer-container .group-one figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footer-container .group-one .box h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Poppins",sans-serif;
    color: #0d3320;

} */
.footer-container .group-one .box p {
    /* text-align: justify; */
    margin-bottom: 10px;
    font-weight: 600;
    color: #0d3320;
}
.footer-container .group-one .box .link-page-cecosesola {
  
    /* color: #0d3320; */
    text-decoration: none;
}
 #link-page-cecosesola-text {
    text-align: center;
    font-weight: 600;
    color: #ff4800;
    -webkit-text-stroke: 0.1px hsl(0, 0%, 6%);
}
#link-page-cecosesola-text:hover{
    color:   #f3a100;
    -webkit-text-stroke: 0.6px #0c0c0c;
    font-weight: 800;
}

/* red social  */

.footer-container .group-one .red-social{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.footer-container .group-one .red-social .red-social-title {
    font-size: 1rem;
    font-family: "Poppins",sans-serif;
}

#social-icons{
    width: 55px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    background-color: #0d3320;
    color: #fff;
    border-radius: 14px;
    text-decoration: none;
    transition: all 300ms ease;
    text-decoration: none;
}
#social-icons:hover {
    color:#58c5ad;
} 
#form {
    
    text-align: center;
    text-decoration: none;
}
#icon-form{
    color: #fff;
}

#form :hover {
     text-decoration: solid underline purple 4px
}


/* derechos */
.footer-container .group-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d3320;
    color: #fff;
    padding: 7px;
    text-align: center;
}
.footer-container .group-two  small{
    font-size: 15px;
    letter-spacing: 0.1rem;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}


@media screen and (max-width:800px){

    .footer-container .group-one{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 13px;
        padding: 20px 0px;
    } 

    .footer-container .group-one .box{
        display: flex;
        flex-direction: column;
        /* text-align: justify; */
        justify-content: center;
    }
    
    .footer-container .group-one .box .text-info-cecosesola {
        margin-top: 7px;
        margin-bottom: 10px;
        font-weight: 450;
        color: #0d3320;
    }

    .footer-container .group-one .red-social .red-social-title {
        font-size: 0.93rem;
        font-family: "Poppins",sans-serif;
        font-weight: 600;
        display: flex;
        color: #0d3320;
        align-items: center;
        justify-content: center;
    }
    
#social-icons {
    width: 55px;
    height: 50px;
    margin-top: 15px;
    margin-left: 6px;
    line-height: 45px;
    text-align: center;
    background-color: #0d3320;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    transition: all 300ms ease;
    text-decoration: none;
}

.footer-container .group-one .box .link-page-cecosesola{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
}

#social-icons{
    width: 50px;
    height: 42px;
    margin-top: 6px;
    margin-left: 6px;
    line-height: 40px;
    text-align: center;
    background-color: #0d3320;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    transition: all 300ms ease;
    text-decoration: none;
}
#form {
    text-align: center;
    text-decoration: none;
}
#icon-form{
    color: #fff;
}

#form:hover {
     text-decoration: solid underline purple 4px
}


}
