.favorite-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.favorite-container .options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.favorite-container .options span {
    text-align: center;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.favorite-container .options span::after {
    content: '❤️';
    color: red;
    font-size: 27px;
    margin-left: 5px;
}

.favorite-container .options i {
    border: none;
    background-color: #f4a534;
    color: #FFF;
    font-size: 22px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;

    display: grid;
    place-content: center;
}

.favorite-container .products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}